body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    padding: 100px;
}

main {
    max-width: 700px;
    min-width: 350px;
    width: 100%;
    background: floralwhite;
    padding: 25px 30px;
    border-radius: 7px;
}

main .title {
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 20px;
}

/*common for user details form as well as sell item form*/
main form .user_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
}

/*common for user details form as well as sell item form*/
form .user_details .input_box{
    margin-bottom: 15px;
}

/*common for user details form as well as sell item form*/
form .user_details .input_box input{
    width: 100%;
    padding: 5px 0;
}

form .button input {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin: 15px 0;
}

form .button input:hover {
    opacity: 0.85;
    transition-duration: 300ms;
}

.empty_field {
    border: 3px solid red;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

form .variable_border_red {
    border: 3px solid red;
    border-radius: 5px;
    outline: none;
}

form .variable_border_green {
    border: 3px solid green;
    border-radius: 5px;
    outline: none;
}
