* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    padding: 100px;
}

main {
    max-width: 700px;
    width: 100%;
    background: floralwhite;
    padding: 25px 30px;
    border-radius: 7px;
}

main .title {
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 20px;
}