* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

.empty-field {
    border: 3px solid red;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    padding: 100px;
}

main {
    max-width: 700px;
    width: 100%;
    background: floralwhite;
    padding: 25px 30px;
    border-radius: 7px;
}

main .title {
    text-align: center;
    font-size: 7vw;
    font-weight: 500;
    margin-bottom: 20px;
}

main form .user_details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
}

form .user_details .input_box input {
    width: 100%;
    padding: 5px 0;
}

form .button input {
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin: 12px 0;
}

