main .item_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

main .item_details .item_detail {
    margin-bottom: 20px;
    max-width: 100%;
}

main .item_details .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

main .item_details .item_detail img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

#item_category {
    width: 90%;
    height: 60px;
    overflow-wrap: anywhere;
    overflow: scroll;
}

main .item_details .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

.buttons button {
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin: 15px 5px;
}

#buy_item_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover {
    opacity: 0.85;
    transition-duration: 300ms;
}

#print_image_placeholder{
    display: none;
}

@media print {
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: white;
    }

    main .item_details .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }

    #buy_item_button{
        border: 2px solid black;
    }

    #next_item_button{
        border: 2px solid black;
    }

    img {
        visibility: hidden;
    }

    #print_image_placeholder{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 2px solid black;
    }

    #item_image {
        display: none;
    }

    main .item_details {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    main .item_detail{
        margin-bottom: 20px;
        width: 100%;
        height: 25px;
    }

    #item_category {
        width: 100%;
        height: 60px;
    }
}
