body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.5), rgba(150, 0, 50, 0.9));
    padding: 100px;
}

main {
    max-width: 700px;
    min-width: 500px;
    width: 100%;
    background: floralwhite;
    padding: 25px 30px;
    border-radius: 7px;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid black;
    text-align: center;
    overflow: auto;
    overflow-wrap: anywhere;
}

.purchase_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#pagination_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
#pagination_wrapper input {
    text-align: center;
    width: 30px;
    height: 25px;
    border-radius: 10px;
    border: 3px solid rgba(100, 0, 180, 0.5);
    margin: 0 10px;
    background: rgba(150, 0, 50, 0.5);
}

#pagination_wrapper input:hover {
    background-color: #dddddd;
}

#pagination_wrapper input.active {
    background-color: rgb(200, 200, 200);
}

#pagination_wrapper input.active:hover {
    background-color: #dddddd;
}


@media screen and (max-width: 500px) {
    th, td {
        font-size: 3vw;
        padding: 5px;
    }

}
