main .user_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

main #edit_enable_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 30px;
}

main #edit_checkbox {
    margin: 0 5px;
}

main input[type="submit"]:disabled {
    background: linear-gradient(135deg, rgba(100, 0, 180, 0.2), rgba(150, 0, 50, 0.2));
}

main input[type="submit"]:disabled:hover {
    opacity: 1;
}

main  form  img {
    width: 300px;
    height: 300px;
}

#print_image_placeholder{
    display: none;
}

@media print {
    #print_image_placeholder{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 2px solid black;
    }

    #profile_picture_input {
        display: none;
    }
}
