<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/transaction_history.css">
    <link rel="stylesheet" href="../css/top_nav.css">
    <title>Transaction history</title>
</head>
<body>

<nav class="top_nav">
    <a href="main_page.html">Home</a>
    <a href="sell.html">Sell</a>
    <a href="user_information.html">User info</a>
</nav>

<main>

    <div class="purchase_details">

        <table>

            <thead>
            <tr>
                <th>Name</th>
                <th>Seller GUID</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td>qwertzuiopasdfghjklyxcvbnmaaaaa 1</td>
                <td>123456789</td>
                <td>1000</td>
                <td>2020-11-11</td>
            </tr>
            <tr>
                <td>qwertzuiopasdfghjklyxcvbnmaaaaa 1</td>
                <td>123456789</td>
                <td>1000</td>
                <td>2020-11-11</td>
            </tr>
            <tr>
                <td>qwertzuiopasdfghjklyxcvbnmaaaaa 1</td>
                <td>123456789</td>
                <td>1000</td>
                <td>2020-11-11</td>
            </tr>
            <tr>
                <td>qwertzuiopasdfghjklyxcvbnmaaaaa 1</td>
                <td>123456789</td>
                <td>100955929829829829821981298180</td>
                <td>2020-11-11</td>
            </tr>
            <tr>
                <td>qwertzuiopasdfghjklyxcvbnmaaaaa 1</td>
                <td>123456789</td>
                <td>1000</td>
                <td>2020-11-11</td>
            </tr>

            </tbody>

        </table>

    </div>

</main>

</body>
</html>